body {
    background-color: #3b3b3b;
    font-family: 'Ubuntu Mono', monospace;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu Mono', monospace;;
}

#input {
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: #242424;
    width: 500px;
    height: 700px;
    border-width: 0px;
    color:#d19d3d;
    font-family: 'Ubuntu Mono', monospace;;
}

#output {
    position: absolute;
    top: 50px;
    left: 720px;
    background-color: white;
    width: 620px;
    height: 700px;
    border-width: 0px;
}
#templates {

position:absolute;
left:20px;
top:10px;
background-color:#0002;
border-width:0px;
height:35px;
width:160px;
text-align:center;
border-radius:10px;


}

.docs{

position:absolute;
left:190px;
top:10px;
border-width:0px;
width:60px;
height:35;
background-color:#0002;
border-radius:10px;
color:white;
}


