body {
  margin: 0;
  padding: 0;
}

.topElement {
  user-select: none;
  padding: 3%;
  color:rgb(168, 168, 168);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 150%;
  transition: font-size 2s filter 2s;
}
.hiddenlang {
    display: none;
    transition: display 5s;
}
.topElement:hover {
  filter: brightness(120%);
  font-size: 160%;
}
.topElement:hover ~ .hiddenlang{
    display: inline;
    font-size:100%;
}

.topElement svg {
  height: 1em;
  width: 1em;
}

.light {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #e9e1e1;
}
.dark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  color: white;
  background-color: #212121;
}
